<p class="content_text">สวัสดีทุกท่าน ขอขอบคุณที่สละเวลาเพื่อมาอ่านประกาศนี้ เราขอแจ้งปรับเปลื่ยนอีเมลติดต่อ(contact email) ของ koon2120 อีกครั้ง <br><br>
    จากเดิม <a class="text_link" href="mailto:gameskoon101020@gmail.com">"gameskoon101020@gmail.com"</a> เป็น <a class="text_link" href="mailto:contact@koon2120.online">"contact@koon2120.online"</a><br><br>
    และจะมีการแก้ไขอีเมลติดต่อตามช่องทางต่างๆ ต่อไป<br>
    การปรับเปลื่ยนครั้งนี้จะมีผลนับจากนี้เป็นต้นไป และต่อจากนี้หากคุณติดต่อไปยังอีเมล <a class="text_link" href="mailto:gameskoon101020@gmail.com">"gameskoon101020@gmail.com"</a> อาจจะไม่ได้รับการตอบกลับอีกต่อไป<br><br>
    ขอขอบคุณอีกครั้ง<br>
    koon2120
</p>