<p class="content_text">อาจจะสงสัยว่าทำไมผมถึงมาโผล่ใน Blogger ซะแล้ว..? <br>
    จริงๆ ก็ไม่มีอะไรมากหรอกครับ อยากจะทำช่องทางที่ทางการมากยิ่งขึ้น และลงคอนเท้นต์ได้เป็นหลักเป็นแหล่งสักที<br><br>
    บล็อกแรกนี้ก็ไม่มีอะไรมาก อยากจะมาทักทายกันเฉยๆ นะ<br>
    และแน่นอน ในอนาคตอาจจะมีบล็อกและคอนเท้นต์เพิ่มเติม ฝากติดตามด้วยนะครับ ^_^
</p>