<p class="content_text">นับตั้งแต่วันที่ 30 กรกฏาคม 2566 เป็นต้นไป <br><br>
    เราจะทำการเปลื่ยนแปลงอีเมลติดต่อจาก <a class="text_link" href="mailto:contact@koon2120.online">contact@koon2120.online</a> เป็น <a class="text_link" href="mailto:gameskoon101020@gmail.com">gameskoon101020@gmail.com</a> ดังเดิม ทั้งนี้อาจจะมีการเปลื่ยนแปลงอีกครั้งในอนาคต โปรดติดตามสถานการณ์ส่วนนี้อย่างใกล้ชิด!<br><br>
    ทั้งนี้เราขอขอบคุณที่ให้ความสนใจตลอดมา ทางเรายินดีนำคำแนะนำของทุกท่านไปปรับปรุงพัฒนาบริการต่อไป
</p>