<p class="content_text">หลังจากนี้ เว็บไซต์ blog ของ koon2120 จะมีการเปลื่ยนแปลง URL จาก <a class="text_link" href="https://www.koon2120.online/blog">blog.koon2120.online</a> เป็น <a class="text_link" href="https://www.koon2120.online/blog">koon2120.online/blog</a> แทน ทุกท่านสามารถติดตาม blog และ news ใหม่ๆ ได้ที่นั่น<br><br>
    และแน่นอน เรามีโลโก้ใหม่ประจำปี 2024 แล้ว จึงได้มีการเปลื่ยนหน้าตาของเว็บไซต์เล็กน้อย ซึ่งอาจจะไม่ต่างกันกับเวอร์ชั่นก่อนมากนัก แต่เราได้ทำการนำหน้าต่างๆ มาอยู่ในหน้าเดียว ปกติเราจะเรียกมันว่า single page นั่นเอง<br><br>
    สุดท้ายนี้ ขอให้ทุกคนมีความสุข!
</p>