<p class="content_text">
สวัสดีทุกท่าน<br><br>

วันนี้มาแจ้งเกี่ยวกับการเปลื่ยนแปลงของเว็บไซต์หลัก ซึ่งตอนนี้หากทุกท่านได้เข้าไปที่เว็บ <a class="text_link" href="https://www.koon2120.online">www.koon2120.online</a> ทุกคนอาจจะเห็นการเปลื่ยนแปลงหน้าตาจากเดิมไปพอสมควร สาเหตุมาจากตัวเว็บเติมที่มีข้อจำกัดด้านการพัฒนาต่อค่อนข้างเยอะ ปัญหาเยอะ และน่าตาที่อาจจะน่าเบื่อไปหน่อย สุดท้ายก็ได้บทสรุปมาว่า "เปลื่ยนใหม่ดีกว่า" นั่นเอง!!!<br><br>

หลังจากนี้อาจจะมีการเปลื่ยนแปลงของเว็บหลักเรื่อยๆ และตอนนี้บางหน้าอาจจะยังไม่พร้อม ซึ่งจะทยอยอัพเดทที่ละนิดๆ ระหว่างนี้ก็อาจจะดูพัฒนาการของเว็บไซต์ไปก่อนแล้วกันนะ<br><br>

จริงๆ นอกจากเว็บหลักแล้วยังมีเว็บอื่นด้วย เช่น เว็บบล็อกที่ทุกท่านกำลังอ่านบล็อกนี้อยู่ ก็มีการเปลื่ยนแปลงเรื่อยๆ เลยล่ะ เอาเป็นว่าช่วงนี้อาจจะมีการเปลื่ยนแปลงหลายๆ อย่างก็ไม่ต้องตกใจกันนะ<br><br> 

ทั้งหมดของวันนี้ก็มีเพียงเท่านี้ หากมีอะไรผิดพลาดก็ต้องขออภัยด้วยนะครับ ไว้เจอกันครั้งหน้า~<br><br><hr>

<span class="text_warning">*หากพบเจอบัคหรือปัญหาใดๆ สามารถแจ้งเข้ามาได้ที่อีเมล contact@koon2120.online ได้ตลอดเวลา</span>
</p>