<div class="content">
    <p class="content_title">About</p>
    <p class="content_text">กาลครั้งหนึ่งนานมาแล้ว..<br><br>
        เรื่องราวนั้นยาวนานมากจนแทบจะจำความไม่ได้ มีเด็กชายคนหนึ่ง ใฝ่ฝันมาโดยตลอดว่าตัวเองนั้นอยากจะเป็นนักผจญภัย
        ผจญภัยบนโลกอันกว้างใหญ่ ความฝันนั้นทำให้เขาได้พยายามทุ่มสุดตัวเพื่อให้ได้ทำตามฝันที่ตนเองต้องการมาตลอด
        วันหนึ่งทุกอย่างก็กลับพังลง เมื่อโลกได้ถูกทำลายโดยมนุษย์ต่างดาวที่มองว่าโลกใบนี้มันสุดเกินจะเยียวยาอีกแล้ว
        การทำลายล้างโลกครั้งนั้น ทำให้เด็กชายคนนี้ได้หมดอนาคตอีกต่อไป<br><br>

        ต.. แต่ว่า โชคร้ายก็ยังมีโชคดี เหตุการณ์ครั้งนั้นเขาเพียงแค่สลบไปเท่านั้น
        หลังจากที่เขาได้ตื่นขึ้นจากความว่างเหล่า รอบๆ ข้างก็มีเพียงขยะจากมนุษย์ที่ได้สร้างมันขึ้นมา
        และธรรมชาติที่เละจนแทบจะไม่อยากมอง ในขณะนั้นเอง ตัวเขาก็ได้กลับมาตัดสินใจเดิมตามฝันอีกครั้งหนึ่ง<br><br>

        "เพื่อสร้างโลกใหม่ เพื่ออนาคต และเพื่อความฝันของตัวเอง"
        เขาจึงตัดสินใจออกเดินทางหาความหวังและโอกาสที่จะได้เจอผู้คนที่เหลือรอดจากเหตุการณ์อันเลวร้ายนี้<br><br>

        นี่เป็นเพียงการเริ่มต้นของการผจญภัยเพื่อทำตามความฝันของเด็กชายคนหนึ่ง
        ถึงแม้เขาจะได้ทำในสิ่งที่ชอบอย่างการผจญภัยแล้ว แต่ของจริงคือหลังจากนั้นต่างหาก</p>
    <p class="content_text">
        ถึงแม้เรื่องราวข้างต้นจากดูแฟนตาซี หรือเกินจริง แต่หากมองเป็นการเปรียบเปรยแล้ว นี่ก็คงเป็นเรื่องราวชีวิตของหลายๆ
        คนที่จะต้องเผชิญ เพื่อทำในสิ่งที่ตัวเองชอบและความสำเร็จของทั้งชีวิต และแน่นอน ผมก็คือหนึ่งในนั้น..<br><br>

        koon2120 เป็นชื่อที่ถูกตั้งขึ้นมาเป็นสื่อกลางระหว่างผมและผลงานที่จะส่งมอบให้แก่ทุกคนที่เข้ามารับชม
        เป้าหมายในตอนนี้ก็คือสร้างผลงานที่สุดยอดที่สุดนั้นเอง
        และการเดินทางครั้งนี้อาจจะอีกยาวไกลกว่าสิ่งนี้จะทำสำเร็จ<br><br>

        หลังจากนี้เองก็จะพยายามทำผลงานใหม่ๆ ออกมา และสร้างสรรค์คอนเท้นต์ที่สนุก และมีความสุข และอีกหลากหลายอารมณ์
        จะพยายามศึกษาเพื่อพัฒนาผลงานออกมาให้ดี และจะพยายามเก็บประสบการณ์ทั้งหมดเพื่อเดินเรื่องราวที่สนุกนี้ต่อไป
    </p>
    <hr><br>
    <a class="content_text_link" href="/projects">ทุกท่านสามารถดูโปรเจกต์ที่ทำอยู่ทั้งหมดได้ที่นี่</a><br>
    <a class="content_text_link" href="/follow_us">หรือต้องการติดตามช่องทางต่างๆ ของผมก็ดูที่นี่ได้เลย</a><br><br>
</div>