<div class="content">
    <p class="content_title">About</p>
    <p class="content_text">Koon2120 / Koon Oppe / Koon<br><br>
        สวัสดีครับ ผมชื่อ Koon (กูร) เป็นคนหนึ่งที่มีความตั้งใจที่จะจะสร้าง Content คุณภาพๆ ออกไปสู่ Online Community และสร้างความเพลิดเพลิน ความสุข ความน่าสนใจ และประโยชน์ต่อผู้คนในโลก Online<br><br>
        สังคม Online ปัจจุบันมีเรื่องราวมากมาย ทั้งความวุ่นวาย ปัญหาต่างๆ การถกเถียงอย่างรุณแรงและเข้มข้น การด่าทอ แซะกันจนสร้างความเกลียดชัง ความเครียด วิตกกังวล และความไม่สบายใจต่อกัน<br><br>
        "เนื้อหา (Content)" เป็นสิ่งหนึ่งที่เราจะต้องพบเจออย่างแน่นอนในโลก Internet เนื้อหาที่มีความหลากหลายในข้อมูล จากหลากหลายผู้คนที่สร้างขึ้นมา เนื้อหานั้นจะเป็นประโยชน์หรือไม่ก็ได้ เนื้อหานั้นจะสร้างเสียงหัวเราะหรือไม่ก็ได้ ทั้งนี้ทั้งนั้นเนื้อหาเองก็มีทั้งดีและไม่ดี คุณภาพและไม่คุณภาพ ถูกต้องและไม่ถูกต้อง เนื้อหาเหล่านี้ถูกอัปโหลดเข้าสู่โลก Online อย่างรวดเร็วและจำนวนมาก บางเนื้อหาทำเพื่อหารายได้ บางเนื้อหาทำเพื่อความสนุก ซึ่งนั่นเป็นสิ่งที่เราพบเจอกันเป็นเรื่องปกติ แต่โลกเราก็ยังมีคนที่สร้างเนื้อหาที่ "ไร้ความรับผิดชอบต่อสังคม" อย่างเนื้อหาการหลอกลวงและการใส่ร้าย การทำเนื้อหาไม่ให้เกียรติในสังคม แถมสร้างความเดือดร้อนต่อสังคมนั้นยังคงเป็นปัญหาที่เกิดขึ้นอยู่ตลอดเวลา และพบได้ทั่วไปเลยทีเดียว เหล่านี้เป็นหนึ่งสิ่งที่สังคมในโลก Online ต้องเผชิญกับปัญหาสุดปวดหัวตลอดมา<br><br>
        ถึงแม้มันจะเป็นไปได้ยากที่เนื้อหาเหล่านี้จะหายไปจากโลก Internet แต่อย่างน้อยก็ยังมีผู้คนที่คอยสร้างเนื้อหาที่คุณภาพ และให้ความสนุกต่อผู้คนอยู่ตลอดเวลา นั้นคือความต้องการของผมเอง ที่จะสร้าง Online Community ที่ดี สนุก มีความสุข และร่วมกันสร้างความรับผิดชอบต่อสังคมไปด้วยกัน ด้วย Content ที่เหมาะสมต่อไป<br><br>
        งาน/ภาระกิจต่างๆ :<br>
        - เคยเป็น Community Staff ให้กับเกม Home Sweet Home : Online<br>
        - เปิดเพจทำ Content อิสระมากมาย ไม่ว่าจะเป็น โซเชียลปวดตับ, Anime UniGai, HSH Universe - Knowage of Niwarn<br>
        - ดูแลทีมพากย์เล็กๆ ที่ชื่อ ST Dub Team<br><br>
        ปัจจุบันเป็น Content Creator อิสระ, Graphic Designer, Web Developer และกำลังฝึกใช้ Unity สำหรับพัฒนาเกม
    </p>
    <hr><br>
    <a class="content_text_link" href="/projects">ทุกท่านสามารถดูโปรเจกต์ที่ทำอยู่ทั้งหมดได้ที่นี่</a><br>
    <a class="content_text_link" href="/follow-us">หรือต้องการติดตามช่องทางต่างๆ ของผมก็ดูที่นี่ได้เลย</a><br><br>
</div>