<div class="content">
    <p class="content_title">Contact Us</p>
    <p class="content_text_top">หากต้องการติดต่อ koon2120 โดยตรง ตอนนี้มีช่องทางสำหรับการติดต่อตามด้านล่างนี้</p>
    <p class="content_text_top_warning">โปรดทราบว่าหากติดต่อทางช่องทางนอกเหนือจากนี้ อาจจะไม่ได้รับการตอบกลับ และอาจไม่ปลอดภัยได้</p>
    <p class="content_list_top">ช่องทางการติดต่อ :</p>
    <a class="content_list" href="mailto:contact@koon2120.online">Email : contact@koon2120.online</a>
    <a class="content_list" href="https://www.facebook.com/koonoppe">Facebook Profile : Koon Oppe</a>
    <a class="content_list" href="https://discord.gg">Discord : koon2120</a>
</div>