<div class="content">
    <p class="content_title">Follow Us</p>
    <p class="content_text_top">คุณสามารถติดตาม Koon2120 ผ่านช่องทาง Social Media ต่างๆ ได้ที่นี่</p>
    <a class="content_list" href="https://www.youtube.com/c/Koon2120">YOUTUBE</a>
    <a class="content_list" href="https://www.facebook.com/koon2120th">FACEBOOK</a>
    <a class="content_list" href="https://twitter.com/koon2120">TWITTER</a>
    <a class="content_list" href="https://www.twitch.tv/koon2120">TWITCH TV</a>
    <a class="content_list" href="https://www.bilibili.tv/th/space/1233456146">BILIBILI GLOBAL</a>
    <a class="content_list" href="https://forum.hareshi.net/members/koon2120.71/">HARESHI FORUM</a>
</div>