<div class="content">
    <img class="content_logo" src="/static/images/logo.png">
    <p class="content_caption">ยินดีต้อนรับสู่เว็บไซต์อย่างเป็นทางการของ Koon2120!</p>
    <a class="content_link" href="/about">เกี่ยวกับเรา</a>
</div>