<div class="content">
    <p class="content_title">Projects</p>
    <p class="content_text_top">นี่คือโปรเจกต์ทั้งหมดของ Koon2120 อยู่ที่นี่ทั้งหมดแล้ว!</p>
    <a class="content_list" href="https://animeunigai.koon2120.online/">Anime Unigai</a>
    <a class="content_list" href="https://youtube-iframe-api-test.vercel.app/watch?v=bHQqvYy5KYo">Youtube Iframe Api Test</a>
</div>