@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.content {
    position: relative;
    color: #181818;
    background-color: #020013;
    border-radius: 10px;
    padding: 10px;
}

.content_title {
    text-align: center;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 10px 5px 10px 5px;
    border-radius: 25px;
    color: #ffdfdf;
    background-color: #ff3535;
}

.content_text {
    font-size: 22px;
    font-family: 'Kanit', sans-serif;
    margin-top: 55px;
    margin-left: 60px;
    margin-right: 60px;
    color: #e4e2ff;
}

.content_text_link {
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    margin-top: 55px;
    margin-left: 65px;
    margin-right: 60px;
    color: #cebfbf;
    text-decoration: none;
    transition: 0.2s;
}

.content_text_link:hover {
    color: #ac9696;
}

hr {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    height: 3px;
    border-style: none;
    background-color: #cdbbff;
    border-radius: 10px;
}

@media only screen and (max-width: 1250px) {
    .content {
        position: relative;
        color: #181818;
        background-color: #020013;
        border-radius: 10px;
        padding: 10px;
    }
    
    .content_title {
        text-align: center;
        font-size: 13px;
        font-family: 'Kanit', sans-serif;
        font-weight: bold;
        margin-top: 25px;
        margin-left: 80px;
        margin-right: 80px;
        padding: 4px 2px 4px 2px;
        border-radius: 25px;
        color: #ffdfdf;
        background-color: #ff3535;
        margin-bottom: 5px;
    }
    
    .content_text {
        font-size: 10px;
        font-family: 'Kanit', sans-serif;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        color: #e4e2ff;
    }
    
    .content_text_link {
        font-size: 8px;
        font-family: 'Kanit', sans-serif;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        color: #cebfbf;
        text-decoration: none;
        transition: 0.2s;
    }
    
    .content_text_link:hover {
        color: #ac9696;
    }
    
    hr {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 30px;
        height: 2px;
        border-style: none;
        background-color: #cdbbff;
        border-radius: 10px;
    }
}