@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.content {
    position: relative;
    color: #181818;
    background-color: #dddbee;
    border-radius: 10px;
    padding: 10px;
}

.content_title {
    text-align: center;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 5px;
    padding: 10px 5px 10px 5px;
    border-radius: 25px;
    color: #ffffff;
    background-color: #b30027;
}

.content_text_top {
    text-align: center;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color: #141414;
    margin-top: 30px;
    margin-bottom: 45px;
}

.content_list {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Kanit', sans-serif;
    color: #ebebeb;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2600ce;
    border-radius: 20px;
    transition: 0.2s;
}

.content_list:hover {
    background-color: #a38fff;
    color: #1d1d1d;
}

@media only screen and (max-width: 1250px) {
    .content {
        position: relative;
        color: #181818;
        background-color: #dddbee;
        border-radius: 10px;
        padding: 10px;
    }
    
    .content_title {
        text-align: center;
        font-size: 13px;
        font-family: 'Kanit', sans-serif;
        font-weight: bold;
        margin-top: 25px;
        margin-left: 80px;
        margin-right: 80px;
        padding: 4px 2px 4px 2px;
        border-radius: 25px;
        color: #ffdfdf;
        background-color: #b30027;
        margin-bottom: 5px;
    }
    
    .content_text_top {
        text-align: center;
        font-size: 14px;
        font-family: 'Kanit', sans-serif;
        font-weight: bold;
        color: #141414;
        margin-top: 30px;
        margin-bottom: 25px;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .content_list {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        font-family: 'Kanit', sans-serif;
        color: #ebebeb;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 4px;
        padding-bottom: 4px;
        background-color: #2600ce;
        border-radius: 20px;
        transition: 0.2s;
    }
    
    .content_list:hover {
        background-color: #a38fff;
        color: #1d1d1d;
    }
}