@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    background-color: #0400d4;
    color: #ffffff;
    text-align: center;
}

h1 {
    font-size: 32px;
    font-family: 'Kanit', sans-serif;
}

a {
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    background-color: #000000;
    color: #ffffff;
    border-style: none;
    border-radius: 25px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    background-color: #eeeeee;
    color: #1a1a1a;
    box-shadow: #000000 0px 0px 4px;
}

div {
    margin-top: 18%;
}