@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    background-image: url('../images/200.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    user-select: none;
}

.text_center_top {
    color: #1af31a;
    text-align: center;
    font-size: 60px;
    margin: 30px;
}

.text_center_bottom {
    text-align: center;
    font-size:25px;
    margin: 30px;
}

.text_center {
    transition: 0.2s;
    margin: 179px;
    border: solid 4px #1af31a;
    border-radius: 50px;
    background-color: black;
    opacity: 95%;
}

.text_center:hover {
    opacity: 100%;
    box-shadow: black 0px 0px 3px;
}

.text_bottom {
    font-size: 15px;
    text-shadow: black 0px 0px 8px;
    position: fixed;
    bottom: 0;
    right: 1%;
    margin: 15px;
}

a {
    transition: 0.2s;
    color: #ffffff;
}

a:hover {
    color: #e0e0e0;
}

@media only screen and (max-width: 768px) {
    .text_center {
        margin: 20%;
    }
    .text_center_top {
        font-size: 200%;
    }
    .text_center_bottom {
        font-size: 80%;
    }
    .text_bottom {
        font-size: 70%;
        text-shadow: black 0px 0px 8px;
    }
}

@media only screen and (max-width: 480px) {
    .text_center {
        margin: 10%;
    }
    .text_center_top {
        font-size: 120%;
    }
    .text_center_bottom {
        font-size: 60%;
    }
    .text_bottom {
        font-size: 70%;
        text-shadow: black 0px 0px 8px;
    }
}